.Projectdesc{
  position: relative;
}

.Projectdesc img{
  width: 100%;
  max-height: 315px;
  position: relative;
  opacity: 1;
  transition: opacity 1s;
}

.FullOverlay{
  background-color: black;
  position: relative;
}

.FullOverlay:hover > img{
  cursor: pointer;
  position: sticky;
  z-index: 5;
  opacity: 0.2;
  transition: opacity 1s;
}


.Viewproject{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.VideoStyle{
  width: 100%;
  height: 300px;
}
