.NavbarPosition {
  /* height: 6vh; */
  width: 100%;
  background-color: #f3f3f3;
}

.FixedHeader{
  top:0px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 2;
}

.stickyHeader {
  position: sticky;
  top: 0px;
  z-index: 6;
}
